@import url(http://bg.allfont.net/allfont.css?fonts=mon-amour-one-medium);

.container {
  .bcg-image-letter {
    min-height: 920px;
    background-image: url("./../../resurces/leta.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
  }
  form {
    font-family: 'Mon Amour One Medium', arial, serif;
    min-height: 950px;
  }
  .letter-note {
    position: relative;
    top: 190px;
    left: -32px;
  }
  .notes {
    margin: 0 auto;
    background-attachment: local;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 10px, transparent 10px), linear-gradient(to left, rgba(255, 255, 255, 0) 10px, transparent 10px), repeating-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 31px, #ccc 31px, #ccc 32px, white 32px);
    line-height: 31px;
    resize: none;
    width: 500px;
    height: 225px;
    border: 0;
    font-size: 18px;
    &:focus {
      color: #2b2b2b;
      background-color: transparent;
      border-color: transparent;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0)
    }
  }
  .bottom {
    position: relative;
    top: 442px;
    left: 53%;

    input {
      margin: 0;
      height: 30px;
      width: 260px;
    }

    & .form-input {
      display: block;
      -webkit-transform: rotate(-9.5deg);
      -moz-transform: rotate(-9.5deg);
      width: 265px;
      input {
        border-bottom: 3px solid #816e6c;
      }
    }
  }
  .button {
    width: 250px;
    height: 145px;
    margin: 261px auto 0;
    position: relative;
    top: 250px;
    left: -119px;
  }
  .error {
    color: darkred;
    font-size: 18px;
    font-weight: 700;
    p {
      text-align: center;
    }
  }
}
