<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">Dear Santa</a>
    <a href="javascript:void(0)" data-activates="mobile-demo" class="button-collapse" materialize="sideNav" [materializeParams]="[{menuWidth: 300,edge: 'left', closeOnClick: true, draggable: true}]">
      <i class="material-icons">menu</i>
    </a>
    <ul *ngIf="!authenticated" class="right hide-on-med-and-down">
      <li>
        <a routerLink="/users/login">Login</a>
      </li>
      <li>
        <a routerLink="/users/register">Register</a>
      </li>
    </ul>
    <ul *ngIf="!authenticated" class="side-nav" id="mobile-demo">
      <li>
        <a routerLink="/users/login">Login</a>
      </li>
      <li>
        <a routerLink="/users/register">Register</a>
      </li>
    </ul>
    <ul *ngIf="authenticated" class="right hide-on-med-and-down">
      <li>Hello Family {{familyname}}</li>
      <li>
        <a href="javascript:void(0)" (click)="logout()">Logout</a>
      </li>
    </ul>
    <ul *ngIf="authenticated" class="side-nav" id="mobile-demo">
      <li>Hello Family {{familyname}}</li>
      <li>
        <a href="javascript:void(0)" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>