div.alert-danger {
  width: 80%;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
  background-color: #8f1308;
  font-weight: 700;
}

div.alert-success {
  width: 80%;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
  background-color: #3daa2a;
  font-weight: 700;
}
