<div class="container">
  <div class="row">
    <div class="col-md-12" *ngIf="letter.location">
      <div class="card">
        <div class="card-block">
          <h6 class="card-subtitle mb-2 text-muted">Dear Santa, </h6>
          <p class="card-text">
            {{letter.letter | removeStringDearSanta}}
          </p>
          <div class="right-align">
            {{letter.createdBy}}, {{letter.age}}
          </div>
          <div class="right-align">
            {{letter.location}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
